.find-container {
  text-align: center;
  padding: 20px;
}

.find-area {
  position: relative;
  width: 90%;
  margin: auto;
}

.find-img {
  width: 100%;
  border-radius: 12px;
}

.find-hotspot {
  position: absolute;
  top: 37%;
  left: 36%;
  width: 80px;
  height: 71px;
  background: rgba(255, 0, 0, 0);
  border: none;
  cursor: pointer;
}
