body {
  margin: 0;
  font-family: sans-serif;
  background: #faf5e9;
  overscroll-behavior-y: contain;
}

button {
  padding: 12px 20px;
  background: #ff7b00;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.inventario-letras {
  margin-top: 20px;
  font-size: 28px;
  text-align: center;
  color: #333;
}

.inventario-letras strong {
  font-weight: 700;
  letter-spacing: 6px;
}
